
<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Password Reset</title>-->

<!--  -->
<!--  &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" integrity="sha384-JcKb8q3iqJ61gNV9KG4P8vZtUw64TncAu7V68MJz3e6e90u0+3W8mJZt6xoRjrD" crossorigin="anonymous">&ndash;&gt;-->
<!--</head>-->
<head th:replace="/Fragments/fragments::meta"></head>
<body>
<h1 style="text-align: center" class="mr-120 mt-70">Reset Password</h1>
<div class="container mt-20">
  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-3">
      <form th:action="@{/profile/reset-password}" method="post" class="needs-validation mt-30" novalidate>
        <input type="hidden" name="token" th:value="${token}" />
        <div class="form-group">
          <label for="password">New Password</label>
          <br>
          <input type="password" class="form-control-sm" id="password" name="password" placeholder="Enter your new password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Re-enter Password</label>
          <br>
          <input type="password" class="form-control-sm" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your new password" required>
        </div>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary ml-20 mt-2" style="width: fit-content">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>


</body>
</html>


