<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="/Fragments/fragments::meta"></head>

<body class="bg-gradient-primary d-flex justify-content-center align-content-center">

    <div class="container justify-content-center">

        <!-- Outer Row -->
        <div class="row justify-content-center align-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9 d-flex justify-content-center">

                <div class="card o-hidden border-0 shadow-lg my-5 d-flex justify-content-center">
                    <div class="card-body p-0 d-flex justify-content-center">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center align-content-center">
                            <div class="col-lg-6 d-none"></div>
                            <div class="col-lg-6 d-flex justify-content-center">
                                <div class="p-5 row align-content-center justify-content-center">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user d-inline-flex justify-content-center" th:action="@{/send-token}" method="post">
                                        <div class="form-group flex-lg-grow-1">
                                            <input type="email" class="form-control col-lg form-control-user"
                                                   name="username" id="username" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address">
                                        </div>
                                        <button type="submit" class="ml-5 btn btn-primary btn-user">
                                            Reset Password
                                        </button>
                                    </form>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:replace="/Fragments/fragments::script"></script>

</body>

</html>