
<!DOCTYPE html>
<html lang="en">
<!--</head>-->
<head th:replace="/Fragments/fragments::meta"></head>
<body>
<h1 style="text-align: center" class="mr-120 mt-70">Reset Password</h1>
<div class="container mt-20">
  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-3">
      <form th:action="@{/reset-password}" method="post" class="needs-validation mt-30" novalidate>
        <input type="hidden" name="token" th:value="${token}" />

        <div class="form-group">
          <label for="password">New Password</label>
          <br>
          <input type="password" class="form-control-sm" id="password" name="password" placeholder="Enter your new password" required>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Re-enter Password</label>
          <br>
          <input type="password" class="form-control-sm" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your new password" required>
        </div>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary ml-20 mt-2" style="width: fit-content">Reset</button>
        </div>

      </form>

    </div>
  </div>
</div>


</body>
</html>


