<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text = "${title}"></title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body class="bg-gradient-primary d-flex justify-content-center align-content-center">

    <div class="container justify-content-center">

        <!-- Outer Row -->
        <div class="row justify-content-center align-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9 d-flex justify-content-center">

                <div class="card o-hidden border-0 shadow-lg my-5 d-flex justify-content-center">
                    <div class="card-body p-0 d-flex justify-content-center">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center align-content-center">
                            <div class="col-lg-6 d-none"></div>
                            <div class="col-lg-6 d-flex justify-content-center">
                                <div class="p-5 row align-content-center justify-content-center">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user d-inline-flex justify-content-center" th:action="@{/forgot-password/send-token}" method="post">
                                        <div class="form-group flex-lg-grow-1">
                                            <input type="email" class="form-control col-lg form-control-user"
                                                   name="email" id="username" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address">
                                        </div>
                                        <button style="height: 44px" type="submit" class="ml-5 btn btn-primary btn-user">
                                            Reset Password
                                        </button>
                                    </form>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:src="@{/js/CustomJs/ChatGptJs.js}"></script>
    <script th:src="@{/js/vendors/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/vendors/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/vendors/select2.min.js}"></script>
    <script th:src="@{/js/vendors/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/vendors/jquery.fullscreen.min.js}"></script>
    <script th:src="@{/js/vendors/chart.js}"></script>
    <!-- Main Script -->
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/custom-chart.js}" type="text/javascript"></script>

</body>

</html>